<main role="main" class="container">
    {{#if errors}}
        <div class="alert alert-danger">
            {{error}}
        </div>
    {{/if}}
  <div class="starter-template">
    <h1>Este es el dashboard de usuarios</h1>
  </div>
</main>